body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 1200px;
    margin-left: calc(50% - 600px);
}
nav{
    display: flex;
    align-items: flex-start;
    gap: 50px;
    font-size: 25px; 
}
.link{
    text-decoration: none;
    margin-top: 40px;
    color: #0A1F3E;
    font-weight: bold;
}
.link:hover{
    color: #12BB9A;
}
.container.main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.content{
    width: 500px;
    margin-left: 30px;
}
h1{
   font-weight: 500;
   margin: 0; 
}
span{
    font-size: 120px;
    color: #12BB9A;  
}
.title{
    font-size: 60px;
    color: #112D5F;
}
.text{
    margin-bottom: 40px;
    color: #112D5F;
}
.read-more{
    color: white;
    background-color: #12BB9A;
    border: 1px solid #12BB9A;
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    font-size: 18px;
}
.read-more:hover{
    background-color: #112D5F;
    border: 1px solid #112D5F;
}
img{
    width: 600px;
}
@media (max-width: 1115px) {
    .container{
        width: 1000px;
        margin-left: calc(50% - 500px);
    }
}
@media (max-width: 1100px){
    .container{
        width: 800px;
        margin-left: calc(50% - 400px);
    }
}
@media (max-width: 1000px){
    .container{
        width: 600px;
        margin-left: calc(50% - 300px);
    }

}
@media (max-width: 900px){
    .container{
        width: 500px;
        margin-left: calc(50% - 250px);
    }
    .container.main{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: center;
        width: 100%;
    }
}
@media (max-width: 700px){
    nav{
        display: flex;
        align-items: flex-start;
        gap: 20px;
        font-size: 20px; 
    }
    img{
        width: 500px;
    } 
}